<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--   namespace 理论上随意命名 
		因为mybatis动态代理的使用
	          书写时，要将namespace指定为接口的全路径
-->
<mapper namespace="com.union.dao.UserMapper">

   <select id="queryUserAll" resultType="User">
   		SELECT * from tb_user 
   </select>

</mapper>